# Build artifacts
[Bb]in/
[Oo]bj/

# VS / VSCode
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.deb


# Project-specific
claude.md
scaffold.sh

# Dotnet user secrets
appsettings.Development.json
.env
